<head>
<link rel="stylesheet" href="/static/styles.css">
{% extends "base.html" %}
{% block content %}
</head>


<body>
    {% for post in post_list %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.author }} <br> created on {{ post.created_on}} </p>
            <p class="card-text">{{post.content|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}
</body>